/* Variables */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
/* Mixins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: 0;
}
*::selection {
  background-color: transparent;
}

.hidden-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hidden-mobile {
    display: block;
  }
}

.hidden-tablet {
  display: none;
}
@media (min-width: 1024px) {
  .hidden-tablet {
    display: block;
  }
}

.hidden-desktop {
  display: block;
}
@media (min-width: 1024px) {
  .hidden-desktop {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex-grow: 1;
}

.homepage main #home, .homepage main #about, .homepage main #work {
  min-height: 100vh;
}
.homepage main #home {
  background-color: #245240;
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homepage main #home h1 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .homepage main #home h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  .homepage main #home h1 {
    font-size: 7.5rem;
  }
}
.homepage main #home h2 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .homepage main #home h2 {
    font-size: 3em;
  }
}
.homepage main #home .intronav {
  position: absolute;
  bottom: 100px;
}
.homepage main #home .intronav a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .homepage main #home .intronav a {
    font-size: 2em;
  }
}
.homepage main #home img {
  height: 15px;
  margin-top: 30px;
  position: absolute;
  bottom: 50px;
}
.homepage main #about {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .homepage main #about {
    grid-template-columns: 1fr 1fr;
  }
}
.homepage main #about p {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .homepage main #about p {
    font-size: 1.3rem;
  }
}
.homepage main #about div {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .homepage main #about .designer, .homepage main #about .developer {
    padding: 100px;
  }
}
@media (min-width: 1024px) {
  .homepage main #about .designer p, .homepage main #about .developer p {
    width: 75%;
  }
}
.homepage main #about .designer {
  background-color: #f2f2f2;
  color: #76af3e;
}
@media (min-width: 1024px) {
  .homepage main #about .designer {
    text-align: left;
    align-items: flex-start;
  }
  .homepage main #about .designer::after {
    content: url("../img/tree-designer.png");
    position: absolute;
    right: 0;
  }
}
.homepage main #about .developer {
  background-color: #76af3e;
  color: #f2f2f2;
}
@media (min-width: 1024px) {
  .homepage main #about .developer {
    text-align: right;
    align-items: flex-end;
  }
  .homepage main #about .developer::after {
    content: url("../img/tree-developer.png");
    position: absolute;
    left: 0;
  }
}
.homepage main #work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: white;
  padding: 25px 5px;
}
.homepage main #work div {
  max-width: 1024px;
  margin: 0 auto;
}
.homepage main #work h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .homepage main #work h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .homepage main #work h1 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.work-container {
  padding: 5px 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  align-items: center;
}
.work-container.work-page {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .work-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .work-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.work-container .work-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.work-container .work-card::after {
  content: "";
  background-image: url(../img/tree.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 50;
}
.work-container .work-card .work-card-overflow {
  width: 100%;
  height: 13rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .work-container .work-card .work-card-overflow {
    height: 18rem;
  }
}
.work-container .work-card .work-card-overflow:hover img {
  transform: scale(1.05);
}
.work-container .work-card .work-card-overflow img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.work-container .work-card .work-card-overflow span {
  display: block;
  background-color: #263238;
  color: white;
  padding: 7px;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: -1px;
  width: 100%;
}
@media (min-width: 768px) {
  .work-container .work-card .work-card-overflow span {
    font-size: 1.4rem;
    padding: 10px;
  }
}

.toforest {
  display: block;
  text-align: center;
  margin-top: 25px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .toforest {
    font-size: 2rem;
    margin-top: 55px;
    margin-bottom: 35px;
  }
}

.standardpage {
  color: white;
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.standardpage header {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}
.standardpage header h1 {
  content: "TEALFOREST";
}
.standardpage header a {
  color: #f2f2f2;
  text-decoration: none;
}
@media (min-width: 768px) {
  .standardpage header a {
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px) {
  .standardpage header a {
    font-size: 1.3rem;
  }
}
.standardpage header > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.standardpage header > div nav a {
  color: white;
  text-decoration: none;
}
.standardpage header > div nav a + a {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .standardpage header > div nav a + a {
    margin-left: 20px;
  }
}
.standardpage main {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.standardpage main h1 {
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .standardpage main h1 {
    font-size: 3.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.singleworkpage main {
  padding: 15px;
}
@media (min-width: 768px) {
  .singleworkpage main {
    padding: 15px 40px;
  }
}
.singleworkpage main .tree {
  height: 30px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .singleworkpage main .tree {
    height: 50px;
  }
}
.singleworkpage main h1 {
  font-weight: 700;
  line-height: 1;
}
@media (min-width: 768px) {
  .singleworkpage main h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.singleworkpage main .single-skills {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .singleworkpage main .single-skills {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
}
.singleworkpage main .single-skills ul li {
  display: inline-block;
  margin: 0 5px;
}
.singleworkpage main img {
  width: 100%;
}
.singleworkpage main .btn {
  background-color: #76af3e;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .singleworkpage main .btn {
    font-size: 1.8rem;
    padding: 20px;
  }
}
.singleworkpage main p {
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .singleworkpage main p {
    font-size: 1.2rem;
  }
}
.singleworkpage main span {
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.singleworkpage main span a {
  color: #f2f2f2;
  text-decoration: none;
}
@media (min-width: 768px) {
  .singleworkpage main span {
    font-size: 1.4rem;
  }
}

.work-page {
  max-width: 1024px;
  margin: 0 auto;
}

footer {
  background-color: #263238;
  color: white;
  text-align: center;
  padding: 20px 5px 10px;
}
@media (min-width: 768px) {
  footer h5 {
    font-size: 1.2rem;
  }
}
footer h4 {
  font-weight: 700;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  footer h4 {
    font-size: 2rem;
  }
}
footer p {
  font-size: 0.8rem;
  margin-top: 20px;
}
@media (min-width: 768px) {
  footer p {
    font-size: 0.9rem;
  }
}
footer .footerlinks {
  margin-top: 20px;
}
footer .footerlinks img {
  height: 30px;
  margin: 0 10px;
}
@media (min-width: 768px) {
  footer .footerlinks img {
    height: 40px;
    margin: 0 20px;
  }
}

/*# sourceMappingURL=style.css.map */
