@import 'variables', 'mixins';

* {
  padding: 0;
  margin: 0;
  font-family:$brand-font;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline:0;
  }

}

h1, h2, h3, h4, h5, h6{
  font-weight:$font-regular;
}

p {
  font-weight:$font-light;
}

html{
  scroll-behavior:smooth;
}

body{
  display:flex;
  flex-direction: column;
  height:100vh;

  header{
    z-index:1000;
  }

  main{
    flex-grow:1;
    #home, #about, #work{
      min-height:100vh;
    }
    #home{
      background-color:$brand-color-regular;
      background-image:url('../img/background.jpg');
      background-size:cover;
      color:$brand-color-neutral-light;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
      text-align:center;
      h1{
        font-size:3em;
      }
      h2{
        font-size:1.5rem;
        font-weight:$font-light;
      }
      .intronav{
        position:absolute;
        bottom:100px;
        a{
          color:$brand-color-neutral-light;
          text-decoration: none;
          margin:0 10px;
          font-size:1.2rem;
        }
      }
      img{
        height:15px;
        margin-top:30px;
        position:absolute;
        bottom:50px;
      }
    }
    #about{
      display:flex;
      p{
        margin-top:10px;
      }
      flex-direction: column;
      div{
        flex-grow:1;
        padding:10px;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        text-align:center;
      }
      .designer{
        background-color:$brand-color-neutral-light;
        color:$brand-color-light;
      }
      .developer{
        background-color:$brand-color-light;
        color:$brand-color-neutral-light;
      }
    }
    #work{
      background-image:url('../img/background.jpg');
      background-size:cover;
      color:white;
      padding:10px;
      position:relative;
      padding-bottom:40px;
      h1{
        text-align:center;
        margin-top:10px;
        margin-bottom:20px;
      }
      .work-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        .work-card{
          display:none;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3){
            display:block;
          }
          + .work-card{
            margin-top:25px;
          }
          position:relative;
          width:90%;
          &::after{
            content: "";
            background-image:url(../img/tree.svg);
            background-repeat: no-repeat;
            width:40px;
            height:50px;
            display:block;
            position:absolute;
            top:-15px;
            left:-15px;
            z-index:50;
          }
          .work-card-overflow{
            width:100%;
            height:220px;
            position:relative;
            overflow:hidden;
            &:hover img{
              transform:scale(1.05);
            }
            img{
              width:100%;
              transition:transform 0.3s ease-in-out;

            }
            span{
              display:block;
              background-color:$brand-color-dark;
              color:white;
              padding:7px;
              font-size:1.1em;
              text-align:center;
              position:absolute;
              bottom:0;
              width:100%;
            }
          }
        }
      }
    }
  }
  footer{
    background-color:$brand-color-dark;
    color:white;
    text-align:center;
    padding:20px 5px 10px;
    h4{
      font-weight:$font-bold;
      font-size:1.3rem;
    }
    p{
      font-size:0.8rem;
      margin-top:20px;
    }
    .footerlinks{
      margin-top:20px;
      img{
        height:30px;
        margin: 0 10px;
      }
    }

  }
}
